body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body * {
	box-sizing: border-box;
}
body div {
	min-height: inherit;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

body ul {
	display: flex;
	list-style: none;
}

body ul li {
	display: block;
	padding: 0 10px;
}
